<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpress/video-intros/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress/video-intros/public/index.php [L]
</IfModule>

